/*Row-1*/
.col-1{
    margin-top: 8rem;
    max-width: 100%;
}
.col1-button{
    border-color: transparent;
    background-color: #CC3300;
    margin: 15px 15px 15px 0px;
    color: white;
    padding: 13px 30px;
    box-shadow: 5px 5px 5px #a6f5be;
    font-weight: bold;
    
}

.col1-button:hover{
    box-shadow : 5px 5px 5px #e9caf5;
    background-color: black;
}

.col1-span{
  
    margin-bottom: 8px;
    color: #6084a4;
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;

}
.col1-heading{
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: 500;
    color: #0e314c;

}
.col1-para{
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
    color: #6084a4;
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
}
.row-1-banner{
    margin-top : -71px;
}

/*Row-2 Heading*/
.row2-head{
    margin-top: 7rem;
 }

.sub-title{
    color: #0e314c;
    background-color: #f5dffd;
    border-radius: 30px;
    padding: 7px 31px 6px;
    font-size: 13px;
    margin-left: 44%;
    margin-right: 44%;
    
}


.row2-head h2{
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    color: #0e314c;
    text-align: center;
    margin-top: 1.5rem;
}

/*Row-3 Data*/
.Row-3{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.row-3-data{
    margin-top: 5%;
    font-weight: 500;
    color:#6084a4;
   
}
.row-3-data a {
    text-decoration: none;
    color: #6084a4;
    font-weight: bold;
    font-size:18px;
}

.row-3-data a:hover{
    color:#CC3300;
}

/*Row- 4 offer Button*/

.offer-button a{
    text-decoration: none;
    color: #0e314c;
    background-color: #f5dffd;
    border-radius: 30px;
    padding: 7px 31px 6px;
    font-size: 13px;
    margin-left: 44%;
}
.offer-button a:hover{
    color:#CC3300;

}

/*Row-6 Section-6*/

.row6{
    max-width: 100%;
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('D:/Codectory/codectory-new/src/components/home/gradient-bg.jpg');
}

.row-6-heading{
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.btn-row-6{
    margin-left: 45%;
    padding: 15px 40px !important ;
    background: linear-gradient(90deg ,#ee0979 0,#ff6a00 100%);
    border : none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-row-6:hover{
    background: linear-gradient(135deg,#23bdb8 0,#43e794 100%);
}

@media(max-width: 768px){
    
    .col-1{
        margin-top: 0;
    }
    .col-1-content{
        text-align: center;
    }
   .banner Image {
        width:540px;
        height: 420px;
    }
   
    .row2-head-2{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .row2-head{
        max-width: 100%;
    }
    .col1-button{
        margin-left: 35%;
        margin-right: 35%;
    }
    .sub-title{
        margin-left: 35%;
        margin-right: 35%;        
    }
    .btn-row-6{
        margin-left: 35%;
        margin-right: 35%;
    }
    .row6{
        margin-bottom: 5rem;
    }
    .sub-title{
        margin-left: 35%;
        margin-right: 35%;
      }
    .row-6-heading{
        font-size: 25px;
      }
    .btn-row-6{
        margin-left: 9rem;
      }

}
@media(max-width: 991px){
   
    .col-1-content{
        text-align: center;
    }
    .row-1-banner{
        align-items: center;
      width: 560px;
      height: 510px;
  }
  .sub-title{
    margin-left: 38%;
    margin-right: 35%;
  }
  .offer-button a{
    margin-left: 35%;
  }
  .row6{
    margin-bottom: 5rem;
}
  .btn-row-6{
     margin-left: 35%;
  }
  .row-6-heading{
    font-size: 25px;
  }

}
@media (max-width : 767px) {
  
}