.navbar{
    background-color: transparent;
    color:#4a6f8a;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: #4a6f8a !important;
    font-weight: bold !important;
}
.nav-link:active{
    color: #c30 !important;
}
.nav-link:hover{
    color: #c30 !important;
}

.nav_btn{
    padding: 15px 40px !important ;
    background: linear-gradient(90deg ,#ee0979 0,#ff6a00 100%);
    border : none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.nav_btn:hover{
    background: linear-gradient(135deg,#23bdb8 0,#43e794 100%);
}


@media(max-width: 991px){
    .nav-item{
        font-size: 12px; 
        display:vertical;
        justify-content: center;
        align-items: center;
    }
    .nav_btn{
        padding: 0px 0px important;
        font-size: 12px;
    }
    .nav{
        display: flex;
    }
}
@media(max-width: 768px){
    .nav_btn{
        display: none;
    }
}